body {
    text-align: center;
    padding: 15px;
    font-family: 'Libre Franklin', sans-serif;
}

.logo {
    margin-top: 20px;
    width: 86px;
     height:26px;
}
.container {
    display: block;
    height: 700px;
    background-color: aqua;
}

.info {
    display: block;
}

.paragr {
    display: block;
}

.texto {
    border: none; /* Deixar sem Bordas*/
    display: inline-block;
    padding: 10px; /*Aumenta o espaçamento de dentro para fora do campo de digitação*/
    width: 273px;
    margin-top: 25px; /* Espaçamento entre subscribe e o campo para digitar*/
    border-radius: 25px;
}

.button {
    border: none;
    width: 300px;
    display:block;
    padding: 10px; /*Aumenta o espaçamento de dentro para fora do botão*/
    margin-left: 60px; /*Espaçamento saindo da margem a esqueda ate chegar ao meio*/
    background-color:hsl(223, 87%, 63%);
    margin-top: 8px; /* Espaçamento entre o campo preencher e o botão notify*/
    border-radius: 25px; /* Arredondamento das bordas*/
    
}

.copy {
    display: block;
    
    color:cornsilk
}